#Blog-Terminal from Blogcorp
#Author:S.ABILASH

#NOTE:After updating the config file type [ref] or [refresh] in the terminal
#to update the changes


#***************************************************************
#Enter your username. EG: DEFAULT_USER:abilash
#NOTE:whitespace are not allowed between colon(:) and the name

#DEFAULT_USER:<enter ur username>

#****************************************************************

#****************************************************************

#To set the current working directory, when opening the terminal
#NOTE: whitespace are not allowed between colon(:) and the path
#NOTE:the directory path is seperated by backslash (\)
#EG: DEFAULT_START_PATH:d:\abilash\blogterminal


#DEFAULT_START_PATH:<enter the default path>
#*****************************************************************


#*****************************************************************

#THEME: [CYAN, GREEN, RED,YELLOW, MAGENTA, WHITE, BLUE]
#NOTE: whitespace are not allowed between colon(:) and keyboard
#NOTE: theme name should be in uppercase
DEFAULT_THEME:CYAN


#***************************************************************
#**************************************************************

#TERMINAL  ALIAS PATH [ADD PREFIX "RUN_" TO YOU APPLICATION PATH KEYWORD]
#NOTE: THE APP KEYWORD SHOULD END WITH COLON(:)
#NOTE: THE APP KEYWORD SHOULD BE IN UPPERCASE
#NOTE: whitespace are not allowed between colon(:) and keyboard
#NOTE: the directory path should be seperated by blackslash(\)
#EG: RUN_CHROME:D:\xyz\chrome.exe




#*********************************************************************
#*********************************************************************


#TERMINAL TELEPORT [ADD PREFIX "TELE_" TO YOUR DIR PATH KEYWORD]
#NOTE: THE DIR KEYWORD SHOULD END WITH COLON(:)
#NOTE: THE DIR KEYWORD SHOULD BE IN UPPERCASE
#NOTE: whitespace are not allowed between colon(:) and the path
#NOTE:the directory path is seperated by backslash (\)
#EG: TELE_DESKTOP:c:\abilash\desktop


